{%extends "internal_base.html"%}

{%block title%}Decrypt Succesfull{%endblock%}
{%block int_title%}Decrypt Succesfull{%endblock%}

{%block content%}
    <div>
        <h2>Decryption was successful</h2>
        <p>This is a temp p where the download for the decrypted file will go</p>
    </div>
{%endblock%}

{%block footer%}
    <a href="decrypt.html" class="internal_links">Back to Decryption</a>
    <a href="selection.html" class="internal_links">Selection</a>
    <a href="loggedOut.html" class="internal_links">Logout</a>
{%endblock%}