{% extends "internal_base.html" %}

{% block title %}Encrypt{% endblock %}
{% block int_title %}Encrypt{% endblock %}

{% block content %}
    <div>
        <p>Passwords won't be able to be changed</p>
        <p>Ensure you use one you can remember</p>
        <form action="/encrypt" method="post" enctype="multipart/form-data">
            <!-- File Input -->
            <div class="file-input-container">
                <input id="input_file" type="file" name="file" required>
                <label for="input_file" class="file-input-label">Choose a text file</label>
            </div>
            
            <!-- Dropdown for Encryption Algorithm -->
            <div class="select-container">
                <label for="encrypt_algorithm">Select an encryption algorithm</label>
                <select id="encrypt_algorithm" name="algorithm">
                    <option value="AES" data-info="Advanced Encryption Standard">AES</option>
                    <option value="RSA">RSA</option>
                    <option value="ECC">ECC</option>
                </select>
            </div>

            <!-- Password Input -->
            <label for="encrypt_password">Enter an encryption password:</label>
            <input id="encrypt_password" type="password" name="password" required>

            <!-- Submit Button -->
            <button type="submit">Submit</button>
            <p>Please have patience as the encryption make take a few seconds to process</p>
        </form>        
    </div>
{% endblock %}

{% block footer %}
    <a href="encryptInfo.html" class="internal_links">Encryption Information</a>
    <a href="selection.html" class="internal_links">Selection</a>
    <a href="loggedOut.html" class="internal_links">Logout</a>
{% endblock %}
