{%extends "internal_base.html"%}

{%block title%}Encrypt Succesfull{%endblock%}
{%block int_title%}Encrypt Succesfull{%endblock%}

{%block content%}
    <div>
        <h2>Encryption was successful</h2>
        <p>This is a temp p where the download for the encrypted file will go</p>
    </div>
{%endblock%}

{%block footer%}
    <a href="encrypt.html" class="internal_links">Back to encryption</a>
    <a href="selection.html" class="internal_links">Selection</a>
    <a href="loggedOut.html" class="internal_links">Logout</a>
{%endblock%}