{%extends "internal_base.html"%}

{%block title%}Encrypt Info{%endblock%}
{%block int_title%}Encrypt Info{%endblock%}

{%block content%}
<div>
    <p>
        We can quite imagine that you would like to know how we securely encrypt your data so that no actors
         (malicious individuals) can access your precious information... well here’s how 
         (in discrete and non-vulnerable diction)
    </p>

    <p> You provide us the text you want encrypted and pick from our encryption algorithms to best fit 
        your needs(no option picked will result in the use of aes-512-cbc, one of the more secure 
        algorithms).
    </p>   
    <p>
        You provide a file specific password to lock the data in your account (pick a good one you
         can remember and please use different ones for different files) 
    </p>   
    <p> 
         You hit encrypt and voila! We’ll encrypt your data, store it securely, and send you back
        an encrypted file.
    </p>
    <p>
        If you have more questions (which we’ll assume aren’t malicious) or just curious on encryption, feel free to contact us at encryptive@gmail.com with any questions.
    </p>
</div>
{%endblock%}

{%block footer%}
    <a href="encrypt.html" class="internal_links">Back to encryption</a>
    <a href="selection.html" class="internal_links">Selection</a>
    <a href="loggedOut.html" class="internal_links">Logout</a>
{%endblock%}