<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryptive - {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="icon" href="/static/Encryptive Logo.png" type="image/x-icon">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="main-content">
        <!-- Image positioned higher on the page -->
        <div class="ext_img">
            <img src="/static/Encryptive Logo.png" alt="Logo">
        </div>
        <div>
            <h1>{% block int_title %}Default Title{% endblock %}</h1>
        </div>
    
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    
        <div class="footer">
            <hr id="white_line">
            <hr id="red_line">
            {% block footer %}{% endblock %}
        </div>
    </div>    
</body>
</html>
