{% extends "internal_base.html" %}

{% block title %}Home{% endblock %}
{% block int_title %}Home{% endblock %}

{% block content %}
    <div>
        <h2>Welcome to Encryptive</h2>
        <p>Our mission is to make data encryption easy and secure over the web.
            We keep our encryption services up to date with the newest encryption algorithms and provide you with the most secure encryption in the market.
            To encrypt data, please sign up or login if you are registered with us already.
        </p>
    </div>
    

{% endblock %}

{%block footer%}
    <a href="register.html" class="internal_links">Register</a>
    <a href="login.html" class="internal_links">Login</a>
{%endblock%}