{% extends "internal_base.html" %}

{% block title %}Login{% endblock %}
{% block int_title %}Login{% endblock %}

{% block content %}
    <div>
        <p>
            Login to encrypt data and access your keys
        </p>
        <form action="/login.html" method="post">
            <label for="username">Username</label>
            <input name="username" type="text" id="username" placeholder="username..." required>
            <label for="password">Password</label>
            <input name="password" type="password" id="password" placeholder="password..." required>
            <br>
            <button type="submit">Submit</button>
        </form>
        <a href="forgotPassword.html" class="internal_links">Forgot password?</a>
        <br>
        <a href="register.html" class="internal_links">If you haven't already, sign up here</a>
    </div>
    

{% endblock %}

{%block footer%}
    <a href="home.html" class="internal_links">Home</a>
{%endblock%}