{% extends "internal_base.html" %}

{% block title %}Selection{% endblock %}
{% block int_title %}Selection{% endblock %}

{% block content %}
    <div class="selection">
        <!-- Links for data encryption and decryption options -->
        <a href="encrypt.html" class="internal_links">Encrypt Data</a>
        <a href="decrypt.html" class="internal_links">Decrypt Data</a>
        <!-- Key access link can be added here if needed -->
    </div>
    

{% endblock %}

{%block footer%}
    <form id="logout" action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>

{%endblock%}